Repository lKaniel/tsfetch: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --fix, pnpm prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": ["pnpm eslint --fix", "pnpm prettier --write"],
    "*.json": ["pnpm prettier --write"],
    "*.md": "pnpm prettier --write"
}

chore(release): 1.0.0 [skip ci]
  dist/api.js
  dist/index.js
Due: pnpm eslint --fix, pnpm prettier --write

Notes added by 'git notes add'
  16f9a62befd4cd1b8fea21a640f700b2b913c34c
Due: none

fix: updated package name
  package.json
  src/api.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat: updated api to be reusable class
  src/api.ts
  src/index.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat: added working middlewares
  src/api.ts
  src/index.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(release): 1.1.0 [skip ci]
  dist/api.js
  dist/index.js
  package.json
Due: pnpm eslint --fix, pnpm prettier --write

Notes added by 'git notes add'
  73740137c9fb6275acf78d77c7af4e546b8cc359
Due: none

fix: updated package name
  package.json
Due: pnpm prettier --write

fix: added readme
  .gitignore
  README.md
  dist/api.js
  dist/index.js
  package.json
Due: pnpm eslint --fix, pnpm prettier --write

fix: commented next mimddleware
  src/api.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix: updated the repository url
  package.json
Due: pnpm prettier --write

chore(release): 1.1.1 [skip ci]
  dist/api.js
  dist/index.js
  package.json
Due: pnpm eslint --fix, pnpm prettier --write

Notes added by 'git notes add'
  87338088b3c26d37fa97fb6d8cf2c55c64ed53e5
Due: none

fix: updated the repository readme and licence
  LICENSE
  README.md
Due: pnpm prettier --write

Notes added by 'git notes add'
  6573527d87e4cef5d57c539b09e95d6139bffada
Due: none

chore(release): 1.1.2 [skip ci]
  package.json
Due: pnpm prettier --write

fix: recommited next fetch middleware
  README.md
  src/api.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix: updated next middleware
  README.md
  src/api.ts
  src/index.ts
  src/nextjs-middleware.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(release): 1.1.3 [skip ci]
  dist/api.js
  dist/index.js
  dist/nextjs-middleware.js
  package.json
Due: pnpm eslint --fix, pnpm prettier --write

Notes added by 'git notes add'
  5d35aa46fb983b322e5085fd4891ccfd527418df
Due: none

fix: updated bearer token creation
  src/api.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(release): 1.1.4 [skip ci]
  dist/api.js
  package.json
Due: pnpm eslint --fix, pnpm prettier --write

Notes added by 'git notes add'
  5c2f61743405bec6403a9d9ab3dbc33c78d90a9a
Due: none

fix: fixed api not working with some backends
  dist/api.js
  dist/index.js
  dist/nextjs-middleware.js
  src/api.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(release): 1.1.5 [skip ci]
  dist/api.js
  dist/index.js
  dist/nextjs-middleware.js
  package.json
Due: pnpm eslint --fix, pnpm prettier --write

Notes added by 'git notes add'
  a1c35df540159bd56b152ed6830af3112e6566e4
Due: none

fix: updated error handling
  .claude/plans/sequential-dreaming-crescent.md
  .github/workflows/release.yml
  src/api.ts
  src/errors.ts
  src/index.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix: returned back token
  .github/workflows/release.yml
Due: none

chore(release): 1.1.6 [skip ci]
  dist/api.js
  dist/errors.js
  dist/index.js
  package.json
Due: pnpm eslint --fix, pnpm prettier --write

Notes added by 'git notes add'
  98e93de0862e17db67c73bb3d15245bfc0011089
Due: none
